
.background {
		
}

.mainWindow {
	
}

.mainWindowSplit {
	
}

.mainWindowLeft {
	
}

.leftTopMenu {
	
}

.topbar {
	
}

.topbarElement {
	
}

.topbarMenuItem {
	
}

.topbarProfileMenuItem {
	
}

.topbarProfileMenuItemNew {
	
}

.topbarProfileMenuItemEdit {
	
}

.topbarProfileMenuItemRemove {
	
}

.topbarSettingsMenuItem {
	
}

.topbarFilter {
	
}

.profilesSelectorContainer {
	
}

.profilesSelector {
	
}

.deviceSelectorContainer {
	
}

.deviceSelector {
	
}

.device {
	-fx-border-color: black;
	-fx-border-width: 5;
	-fx-border-radius: 0; 
	-fx-border-insets: 0;
	-fx-border-style: solid line-join bevel line-cap square;
}

.deviceApplies {
	
}

.deviceInformationLabel {
	-fx-text-fill: gray;
}

.deviceInformationValue {
	-fx-text-fill: black;
}

.deviceBrightnessController {
	
}

.content {
	
}

.rightSplit {
	
}

.buttonRowsContent {
	
}

.palette {
	
}

.imageSourceHeader {
	
}

.imageSourceContainer {
	
}

.actionSourceHeader {
	
}

.actionSourceContainer {
	
}

.profile {
	-fx-border-color: black;
	-fx-border-width: 5;
	-fx-border-radius: 0; 
	-fx-border-insets: 0;
	-fx-border-style: solid line-join bevel line-cap square;
}

.profileActive {
	-fx-background-color: #4542f4;
}

.profileActive > Label {
	-fx-text-fill: white;	
}

.profileLabelName {
	
}

.profileLabelUuid {
	
}

/* profile stage */

.ps-background {
	
}

.ps-label {
	
}

.ps-textfield {
	
}

.ps-name {
	
}

.ps-uuid {
	
}

.ps-columns {
	
}

.ps-rows {
	
}

.ps-selector {
	
}

.ps-buttons {
	
}